
services:
    mysql:
        image: mysql:8
        container_name: mysql_db
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE=e_commerce_db
        ports:
            - "3306:3306"
        volumes:
            - docker_e_commerce_v1:/var/lib/mysql
    
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        depends_on:
            - mysql
        environment:
            PMA_HOST: mysql
            PMA_USER: root
            PMA_PASSWORD: root
        ports:
            - "8081:80"

    # stripe:
    #     image: stripe/stripe-cli
    #     container_name: stripe-cli
    #     command: listen --api-key ${STRIPE_SECRET_KEY} --forward-to http://localhost:8080/stripe/webhook
    #     environment:
    #         - STRIPE_API_KEY=${STRIPE_SECRET_KEY}

    stripe:
        image: stripe/stripe-cli
        container_name: stripe-cli
        command: listen --api-key ${STRIPE_SECRET_KEY} --forward-to http://localhost:8080/stripe/webhook
        environment:
        - STRIPE_API_KEY=${STRIPE_SECRET_KEY}
        network_mode: host
        restart: unless-stopped
volumes:
    docker_e_commerce_v1:
        